.productContainer {
  flex-direction: row;
}

.productSubContainer {
  width: 50%;
}

.footerDiv {
  height: 10.3rem;
}

.footerButton {
  margin: 1.8rem 6.25rem 0 0;
}

/* Product-added modal */
.smallModal {
  filter: drop-shadow(0 4px 4px grey);
  width: 35rem;
  height: 4.2rem;
  font-size: 1.2rem;
}

/* PAYMENT FORM */
.rowContainer {
  display: flex;
  justify-content: space-between;
}

.textFieldRow {
  width: 48%;
  margin: 0.5rem 0;
}

.textFieldRow .MuiInputBase-root {
  width: 100%;
}

.radioButton > .MuiTypography-root {
  width: 100%;
}

.MuiRadio-root {
  margin-top: 0.5rem;
  margin-right: 1rem;
  align-self: flex-start;
}

/* USERFORM */
.userBox {
  width: 40rem;
  height: 28rem;
}

.userInput {
  width: 34.3rem;
  height: 2rem;
}

.cartCardBox {
  width: 41rem;
  height: 6.3rem;
  filter: drop-shadow(0 4px 4px grey);
  margin-bottom: 1rem;
}

.flex-direction {
  display: flex;
  width: 16.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector {
  width: 7.4rem;
}

/* TABLET SMALL */
@media only screen and (max-width: 768px) {
  .productContainer {
    flex-direction: column;
  }
  .productSubContainer {
    width: 100%;
  }

  .selector {
    width: 6rem;
  }

  /* PAYMENTFORM */
  .rowContainer {
    flex-direction: column;
  }

  .textFieldRow {
    width: 100%;
  }
}

/* MOBILE */
@media only screen and (max-width: 440px) {
  .footerDiv {
    height: 7rem;
  }

  .footerButton {
    margin: 1.1rem 1.6rem 0 0;
  }

  /* Product-added modal */
  .smallModal {
    width: 16.8rem;
    height: 3.4rem;
    font-size: 0.8rem;
  }

  /* USERFORM */
  .userBox {
    width: 15rem;
    height: 20rem;
    font-size: 0.7rem;
  }

  .userInput {
    width: 14rem;
    height: 2rem;
  }

  .cartCardBox {
    width: 17.1rem;
    height: 6rem;
    font-size: 0.9rem;
  }

  .flex-direction {
    display: flex;
    width: 6.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.2rem 0 0.2rem;
  }

  .selector {
    width: 2rem;
    align-self: flex-start;
  }
}
